<h1 class="text-center">Entregas de <%= @test.description %></h1>

<% if flash[:last_token] %>
	<br>
	
	<div class="alert alert-success text-center">Link generado 
		<strong>
			<a href="http://localhost:3000<%= test_submission_path(@test.id, flash[:last_token]) %>">http://localhost:3000<%= test_submission_path(@test.id, flash[:last_token]) %></a>
		</strong>
	</div>

<% end %>

<br>


<a class="btn btn-primary" href="<%= tests_path %>"><i class="fa fa-arrow-left icon-button"></i> Volver</a>

<a class="btn btn-success" href="<%= new_test_submission_path %>"><i class="fa fa-plus icon-button"></i> Crear nueva entrega</a>

<a class="btn btn-default" href="<%= new_test_question_path(@test) %>"><i class="fa fa-plus icon-button"></i>  Agregar pregunta</a>


<br /><br /><br />

<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Email</th>
			<th class="text-center">Acción</th>
		</tr>
	</thead>
	<tbody>
		<% @submissions.each do |submission| %>
			<tr>
				<td><%= submission.id %></td>
				<td><%= submission.applicant.name %></td>
				<td><%= submission.applicant.email %></td>
				<td class="text-center">
					<a class='btn btn-default' href="<%= test_submission_path(@test, submission.token) %>"><i class="fa fa-check icon-button"></i> Ver</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

